<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.susemiessner.android.urbanalphabets"
    android:versionCode="6"
    android:versionName="1.5" >

    <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- write permission -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.susemiessner.android.urbanalphabets.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.TakePhotoActivity"
            android:label="@string/take_photo_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.WritePostcardActivity"
            android:label="@string/write_postcard_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.ShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.ViewLetterActivity"
            android:label="@string/view_letter_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.AlphabetInfoActivity"
            android:label="@string/alphabet_info_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.MyAlphabetsActivity"
            android:label="@string/my_alphabets_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.AddAlphabetActivity"
            android:label="@string/add_alphabet_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.CropPhotoActivity"
            android:label="@string/crop_photo_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.AssignLetterActivity"
            android:label="@string/assign_letter_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.ChangeLanguageActivity"
            android:label="@string/change_language_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.WelcomeActivity"
            android:label="@string/welcome_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.SettingsActivity"
            android:label="@string/settings_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.ChangeDefaultLanguageActivity"
            android:label="@string/change_default_language_cap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.susemiessner.android.urbanalphabets.SetUsernameActivity"
            android:windowSoftInputMode="stateVisible" 
            android:theme="@style/dialog_light"
            android:screenOrientation="portrait" >
        </activity>
        <receiver 
            android:name="NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="SyncService"></service>
    </application>

</manifest>
